DATA ENCODING => categorical to numeric values
1. Nominal or One hot encoding
2. Label or Ordinal
3. Target Guided Ordinal

One hot encoding

In [2]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [15]:
df = pd.DataFrame({
    'color' :['red', 'blue','green','red', 'green','blue']
})

In [4]:
df

   color
0    red
1   blue
2  green
3    red
4  green
5   blue

In [8]:
# create an instance of ohe
encoder = OneHotEncoder()
val = encoder.fit_transform(df[['color']]).toarray()

In [11]:
enc_df = pd.DataFrame(val, columns=encoder.get_feature_names_out())

In [12]:
enc_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0
5         1.0          0.0        0.0

In [14]:
pd.concat([df, enc_df], axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4  green         0.0          1.0        0.0
5   blue         1.0          0.0        0.0

Label Encoding

In [16]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit_transform(df[['color']])

/usr/lib/python3/dist-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 1, 0])

In [17]:
encoder.transform([['red']])

/usr/lib/python3/dist-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

Ordinal Encoding

In [21]:
from sklearn.preprocessing import OrdinalEncoder
df = pd.DataFrame({
    'size' : ['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [22]:
enc = OrdinalEncoder(categories=[['small', 'medium','large']])
enc.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])